<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--        启用MVC注解     -->
    <mvc:annotation-driven/>
    <!--    扫描控制器到IOC容器中     -->
    <context:component-scan base-package="com.j16.controller"/>

    <!--    mvc静态资源交由servlet处理 -->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/js/**" location="/js/"/>

    <!--    视图解析器   -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!--配置文件上传-->
<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        <property name="maxInMemorySize" value="4096"/>-->
<!--        <property name="defaultEncoding" value="uft-8"/>-->
<!--        <property name="maxUploadSize" value="10485760"/>-->
<!--    </bean>-->

    <!--拦截器配置-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/grade/*"/>-->
<!--            <bean class="com.j16.interceptor.MyHandlerInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

    <!--验证消息器-->
    <bean id="bundleMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">

    </bean>
    <!--校验对象-->
<!--    <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
<!--            <property name="validationMessageSource" ref="bundleMessageSource" />-->
<!--            <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>-->
<!--    </bean>-->
</beans>